.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &Nav {
    font-size: 26px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    li {
      padding: 8px;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
