@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf'), url('/assets/fonts/AvenirNextLTPro-Regular.woff'),
    url('/assets/fonts/AvenirNextLTPro-Regular.ttf');
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Soleil-W01-Bold.otf'), url('/assets/fonts/AvenirNextLTPro-Bold.woff'),
    url('/assets/fonts/AvenirNextLTPro-Bold.ttf');
}
@font-face {
  font-family: 'AvenirNextLTPro-It';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AvenirNextLTPro-It.otf'), url('/assets/fonts/AvenirNextLTPro-It.woff'),
    url('/assets/fonts/AvenirNextLTPro-It.ttf');
}
